<h1 md-dialog-title>Electricity Statement</h1>
<div md-dialog-content>
  <div *ngIf="electricity">
    <form #electrityForm="ngForm">
      <md-input-container>
        <input mdInput placeholder="id" value="" [(ngModel)]="electricity.id" name="id" #id="ngModel">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="statementDate" type="date" value="" [(ngModel)]="electricity.statementDate"
               name="statementDate" #statementDate="ngModel">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="dayIndex" value="" [(ngModel)]="electricity.dayIndex" name="dayIndex"
               #dayIndex="ngModel">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="nightIndex" value="" [(ngModel)]="electricity.nightIndex" name="nightIndex"
               #nightIndex="ngModel">
      </md-input-container>
    </form>
  </div>
</div>
<div md-dialog-actions>
  <button md-button (click)="save()">Save</button>
</div>

