<md-toolbar>
  <span>{{title}}</span>
</md-toolbar>

<!--
<md-tab-group>
  <md-tab routerLink="/dashboard" routerLinkActive="active">
    <template md-tab-label>
      <md-icon>dashboard</md-icon>
      Dashboard
    </template>

  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>flash_on</md-icon>
      Electricity
    </template>

  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>whatshot</md-icon>
      Heating
    </template>

  </md-tab>
  <md-tab>
    <template md-tab-label>
      <md-icon>opacity</md-icon>
      Water
    </template>

  </md-tab>
</md-tab-group>
-->
<nav md-tab-nav-bar>
  <a md-tab-link
     routerLink="/dashboard"
  >
    <md-icon>dashboard</md-icon>
    Dashboard
  </a>
  <a md-tab-link
     routerLink="/electricity">

    <md-icon>flash_on</md-icon>
    Electricity
  </a>
  <a md-tab-link
     routerLink="/heating">

    <md-icon>whatshot</md-icon>
    Heating
  </a>
  <a md-tab-link
     routerLink="/water">
    <md-icon>opacity</md-icon>
    Water
  </a>
</nav>
<router-outlet></router-outlet>

