<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/electricity"><i class="fas fa-bolt"></i> Electricity</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/heating"><i class="fab fa-gripfire"></i> Heating</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/water"><i class="fas fa-tint"></i> Water</a>
      </li>
    </ul>

  </div>
</nav>
</header>
<main class="container-fluid" role="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container-fluid">
    <span class="text-muted">Copyright &copy; 2018 <a href="https://github.com/costalfy" target="_blank">Andy Costanza</a> - Relveo is under <a href="https://www.gnu.org/licenses/agpl.html" target="_blank">AGPL-3.0+</a> on <a href="https://github.com/costalfy/relveo" target="_blank">GitHub</a></span>
  </div>
</footer>
