<div class="row mt-3">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-3">
    <div class="row">
      <div class="col-12">
        <h4>Electricity statement index</h4>
        <form class="form-inline" (ngSubmit)="onSubmit()" #myForm="ngForm">
          <label class="sr-only" for="statementDate">Statement date</label>
          <input required
                 type="date"
                 [(ngModel)]="model.statementDate"
                 name="statementDate"
                 class="form-control mb-2 mr-sm-2"
                 id="statementDate"
                 placeholder="dd-mm-yyyy">

          <label class="sr-only" for="dayIndex">Day index</label>
          <input required
                 type="text"
                 [(ngModel)]="model.dayIndex"
                 name="dayIndex"
                 class="form-control mb-2 mr-sm-2"
                 id="dayIndex"
                 placeholder="Day Index">

          <label class="sr-only" for="nightIndex">Night index</label>
          <input required
                 type="text"
                 [(ngModel)]="model.nightIndex"
                 name="nightIndex"
                 class="form-control mb-2 mr-sm-2"
                 id="nightIndex"
                 placeholder="Night Index">
          <button
            type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!myForm.form.valid">
            <i class="fas fa-plus"></i> Add
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead class="thead-dark">
          <th scope="col">Statement date</th>
          <th scope="col">Day index (kW/h)</th>
          <th scope="col">Night index (kW/h)</th>
          <th></th>
          </thead>
          <tbody>
          <tr *ngFor="let e of electricityList">
            <td>{{e.statementDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{e.dayIndex}}</td>
            <td>{{e.nightIndex}}</td>
            <th class="text-right">
              <a class="btn btn-primary"
                 routerLink="/electricity/{{e.id}}"
              >
                <i class="far fa-edit"></i></a>
              <button class="btn btn-danger" (click)="delete(e)">
                <i class="far fa-trash-alt"></i></button>
            </th>
          </tr>
          </tbody>
        </table>
        <div class="col-12 justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-3" >
    <app-electricity-chart [multi]="multi"></app-electricity-chart>
  </div>
</div>
